<Navigation>
    <TabItems>
        <TabItem name="tiManagement" text="Management" keyTips="B" displayOrder="9">
            <TabBar name="tbUserManagement" text="User Management" showName="true" displayOrder="2">
                <TabItem name="tiUsers" text="Users" keyTips="U" tag="9011" displayOrder="1" accessControlItem="Gebruikersbeheer - Gebruikers;Scherm openen" image="IE_UserManagement_24" />
                <TabItem name="tiUserGroups" text="Groups" keyTips="U" tag="9012" displayOrder="2" accessControlItem="Gebruikersbeheer - Groepen;Scherm openen" image="IE_GroupManagement_24" />
                <TabItem name="tiComputers" text="Computers" keyTips="C" tag="9013" displayOrder="3" accessControlItem="Gebruikersbeheer - Computers;Scherm openen" image="IE_ComputerManagement_24" />
            </TabBar>
            <TabBar name="tbCommon" text="Common" showName="true" displayOrder="2">
                <TabItem name="tiApplicationSettings" text="Application Settings" keyTips="A" tag="9001" displayOrder="1" accessControlItem="Configuratie - Settings;Scherm openen" image="IE_Configuration_24" />
                <TabItem name="tiHistoryHeys" text="History Key Management" keyTips="H" tag="9002" displayOrder="2" accessControlItem="Configuratie - History Keys;Scherm openen" image="IE_HistoryManagement_24" />
                <TabItem name="tiTranslations" text="Languages" keyTips="L" tag="9020" displayOrder="3" accessControlItem="Configuratie - Vertalingen;Scherm openen" image="IE_TranslationManagement_24" />
            </TabBar>
        </TabItem>
		<TabItem name="tiMasterData" text="Masterdata" keyTips="B" displayOrder="7">
			<TabBar name="tbMaterialOverview" text="" showName="true" displayOrder="2">
				<TabItem name="tiMaterialOverview" text="Material Overview" keyTips="M" tag="101" displayOrder="1" accessControlItem="Materiaal - Overzicht;Scherm openen" image="IE_ComputerManagement_24" />
			</TabBar>
		</TabItem>
		<TabItem name="tiOrders" text="Orders" keyTips="B" displayOrder ="8">
			<TabBar name="tbOrders" text="" showName ="true" displayOrder="2">
				<TabItem name ="tiActualOrders" text="Actual Orders" keyTips ="O" tag="201" displayOrder="1" accessControlItem="Orders - Actuele orders;Scherm openen" image="IE_Windows_16"/>
				<TabItem name ="tiFinishedOrders" text="Finished Orders" keyTips ="F" tag="202" displayOrder="2" accessControlItem="Orders - Voltooide orders;Scherm openen" image="IE_HistoryActions_24"/>
			</TabBar>
		</TabItem>
	</TabItems>
</Navigation>