<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="AppConnection" connectionString="Data Source=localhost;Initial Catalog=L3IntroMES;Persist Security Info=True;User ID=sa;Password=+++xhISaAq8WXLnlv5dpWOpI6v8RzKXaynwx2SlUY6I=" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Path" value="C:\Actemium\ERPConnector\Interface\ERP\In" />
    <add key="ErrorPath" value="C:\Actemium\ERPConnector\Interface\ERP\In\Error" />
    <add key="SuccessPath" value="C:\Actemium\ERPConnector\Interface\ERP\In\Success" />
    <add key="UsedExtension" value=".xml" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="CommunicatorERP" switchValue="Verbose" DateTimeFormat="dd-MM-yyyy, HH:mm:ss.fff" TraceLongExceptions="true" TraceMessageOnOneLine="true">
        <listeners>
          <remove name="Default" />
          <add name="file" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="file" type="Actemium.Diagnostics.FileTraceListener, Actemium.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="ActemiumL3IC.OrderManager.CommunicatorERP.log" OneFilePerDay="true" KeepOldFileDays="31" traceOutputOptions="DateTime,ThreadId" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>