<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevComponents.DotNetBar2" publicKeyToken="7eb7c3a35b91de04" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.11" newVersion="12.0.0.11" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>