<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="ACT" type="Actemium.L3IC.OrderManager.General.Configuration.ConfigHandler, Actemium.L3IC.OrderManager.General" />
        <section name="Navigation" type="Actemium.Windows.Forms.MenuGenerator.NavigationConfigurationSection, Actemium.Windows.Forms.MenuGenerator" />
        <section name="UMSettings" type="Actemium.UserManagement2.Configuration.UMConfigHandler, Actemium.UserManagement2" />
        <section name="ASSettings" type="Actemium.ApplicationSettings.Configuration.ASConfigHandler, Actemium.ApplicationSettings" />
        <section name="HISTSettings" type="Actemium.History.Configuration.HISTConfigHandler, Actemium.History" />
    </configSections>
    <connectionStrings>
        <add name="Database.Actemium.Translations"
		connectionString="Data Source=192.168.100.2;Initial Catalog=L3IntroMES;Persist Security Info=True;User ID=sa;Password=+++xhISaAq8WXLnlv5dpWOpI6v8RzKXaynwx2SlUY6I="
		providerName="System.Data.SqlClient" />

        <add name="AppConnection"
		connectionString="Data Source=192.168.100.2;Initial Catalog=L3IntroMES;Persist Security Info=True;User ID=sa;Password=+++xhISaAq8WXLnlv5dpWOpI6v8RzKXaynwx2SlUY6I="
		providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.diagnostics>
        <sources>
            <source name="AppTraceSource" switchValue="Verbose" DateTimeFormat="dd-MM-yyyy, HH:mm:ss.fff" TraceLongExceptions="true" TraceMessageOnOneLine="true">
                <listeners>
                    <remove name="Default" />
                    <add name="file" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="file" type="Actemium.Diagnostics.FileTraceListener, Actemium.Diagnostics, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" initializeData="%USERPROFILE%\ActemiumL3IC.OrderManager.log" OneFilePerDay="true" KeepOldFileDays="31" traceOutputOptions="DateTime,ThreadId" />
        </sharedListeners>
    </system.diagnostics>

    <UMSettings autoCreateDomainUsers="true" autoCreateComputers="false" computersDefaultACIManaged="false" useRDPClientHostName="false" encryptUserPasswordInDB="false" connectionStringUMDB="Data Source=192.168.100.2;initial catalog=L3IntroMES;Persist Security Info=True;User ID=sa;Password=+++xhISaAq8WXLnlv5dpWOpI6v8RzKXaynwx2SlUY6I="/>
    <ASSettings connectionStringASDB="Data Source=192.168.100.2;initial catalog=L3IntroMES;Persist Security Info=True;User ID=sa;Password=+++xhISaAq8WXLnlv5dpWOpI6v8RzKXaynwx2SlUY6I=" />
    <HISTSettings connectionStringHISTDB="Data Source=192.168.100.2;initial catalog=L3IntroMES;Persist Security Info=True;User ID=sa;Password=+++xhISaAq8WXLnlv5dpWOpI6v8RzKXaynwx2SlUY6I=" />

    <ACT environmentName="Test" isProduction="false"/>
    <Navigation configSource="Navigation.config" />

    <startup useLegacyV2RuntimeActivationPolicy="true">
        <supportedRuntime version="v2.0" />
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="FrontEndInterface_Endpoint">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <!--<endpoint address="net.tcp://192.168.90.86:9017/FrontEndInterface" binding="netTcpBinding" bindingConfiguration="FrontEndInterface_Endpoint" contract="RefWeigher.IFrontEndService" name="FrontEndInterface_Endpoint" />-->
            <!--<endpoint address="net.tcp://localhost:9017/FrontEndInterface" binding="netTcpBinding" bindingConfiguration="FrontEndInterface_Endpoint" contract="RefWeigher.IFrontEndService" name="FrontEndInterface_Endpoint" />-->
        </client>
    </system.serviceModel>

    <runtime>

        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

            <dependentAssembly>

                <assemblyIdentity name="DevComponents.DotNetBar2" publicKeyToken="7eb7c3a35b91de04" culture="neutral" />

                <bindingRedirect oldVersion="0.0.0.0-12.0.0.11" newVersion="12.0.0.11" />

            </dependentAssembly>

            <dependentAssembly>

                <assemblyIdentity name="DevComponents.DotNetBar.SuperGrid" publicKeyToken="7eb7c3a35b91de04" culture="neutral" />

                <bindingRedirect oldVersion="0.0.0.0-12.9.0.3" newVersion="12.9.0.3" />

            </dependentAssembly>

        </assemblyBinding>

    </runtime>
</configuration>